.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

@media(max-width:768px) {
  html {
    /* Considerando que 16px(1rem) é 100% é só fazer uma regra de 3 básica, 14px é 87,5% de 16px */
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}